.page-desc {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
    min-height: 40px;
}
.page-desc.hidden {
    visibility: hidden;
}
.write-page-btn-con {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
}
.write-page-btn-con button {
    background: none;
    border: none;
    outline: none;
    font-variant: all-small-caps;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.6;
    color: inherit;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}
.write-page-btn-con button:hover {
    opacity: 1;
}

input.poem-title-input {
    border: none;
    outline: none;
    width: 400px;
}

.add-poem-btn {
    float: right;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.7s ease, visibility 0.7s 0s;
    visibility: visible;
    white-space: nowrap;
}
.add-poem-btn.hidden {
    opacity: 0;
    visibility: hidden;
}

.pen-emoji {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("pen-emoji.png");
}
@media (max-width: 480px) {
    .write-page {
        display: flex;
        height: calc(100vh - 60px);
        flex-direction: column;
    }
    .write-page-btn-con {
        width: 100%;
    }

    .write-page-btn-con {
        width: 100%;
        z-index: 50;
        padding-bottom: 20px;
    }

    .write-page-btn-con button {
        background: #ffffff12;
        opacity: 1;
        border-radius: 3px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 4%), 0 3px 6px rgb(0 0 0 / 5%);
        padding: 3px 20px 8px 20px;
        font-size: 23px;
    }
    .add-poem-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        transition: opacity 0.7s ease, visibility 0.7s 0s;
        visibility: visible;
        padding-right: 20px;
    }

}
