.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 0px 30px;
    height: 60px;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-feature-settings: "smcp", "c2sc";
    color: white !important;
}
/* Left side */
.header .header-links a {
    color: white !important;
    font-variant: all-small-caps;
    margin: 0px 5px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

.header .header-links a.selected {
    text-decoration: line-through;
}

/* Right Side */
.header .header-logout-label {
    margin: 7px;
    font-size: 14px;
    opacity: 0.7;
}
.header .header-logout-label .username {
    font-style: italic;
}

.header-user-area {
    display: flex;
    align-items: center;
}
span.header-logout-btn {
    margin-left: 10px;
}


.anonymous-toggler {
    display: block;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("smiling-emoji.png");
    cursor: pointer !important;
    position: relative;
    margin: 0px 10px;
}
.anonymous-toggler.anonymous {
    background-image: url("sunglasses-emoji.png");
}
.anonymous-toggler:hover::after {
    content: "Normal Mode";
    position: absolute;
    top: calc(100% + 6px);
    text-align: center;
    font-size: 11px;
    font-family: 'Arial', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 2px 4px;
    border-radius: 2px;
    color: black;
    white-space: nowrap;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.anonymous-toggler.anonymous:hover::after {
    content: "Anonymous Mode";
}
.header-logout-mobile {
    display: none;
}
.header a.notif {
    position: relative;
}
.header a.notif::after {
    content: "";
    background: #0084ff;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -8px;
    border: #ffc7dc 2px solid;
    box-sizing: border-box;
    bottom: 9px;
    display: block;
    border-radius: 50%;
}
.darkmode .header a.notif::after {
    border-color: #252525;
}
@media (max-width: 480px) {
    .header {
        padding: 0px 10px;
    }
    .header .header-links a {
        font-size: 18px;
    }
    .header-user-area .header-logout-label, .header-logout-btn{
        display: none;
    }
    .header-logout-mobile {
        display: inline-block;
    }
}

