.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 0px 30px;
    height: 60px;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-feature-settings: "smcp", "c2sc";
    color: white !important;
}
/* Left side */
.header .header-links a {
    color: white !important;
    font-variant: all-small-caps;
    margin: 0px 5px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

.header .header-links a.selected {
    text-decoration: line-through;
}

/* Right Side */
.header .header-logout-label {
    margin: 7px;
    font-size: 14px;
    opacity: 0.7;
}
.header .header-logout-label .username {
    font-style: italic;
}
span.header-logout-btn {
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    padding: 5px 11px;
    margin-left: 10px;
}
span.header-logout-btn :hover {
    text-decoration: line-through;
}
