
.poems-overview {
    width: 90%;
    max-width: 1300px;
    margin: 50px auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.poems-overview span.react-loading-skeleton.css-1vmnjpn-skeletonStyles-Skeleton {
    width: 300px;
    margin: 20px;
    height: 250px !important;
}

a {

    text-decoration: none;
}

.poem-preview {
    width: 300px;
    margin: 20px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
    color: black;
    min-height: 250px;
    max-height: 350px;
}
.poem-preview.voting-active .poem-preview-content {
    filter: blur(5px);
}
.poem-preview.completed {
    opacity: 0.3;
    transition: opacity 0.3s ease-out;
}
.poem-preview.completed:hover {
    opacity: 1;
}
.darkmode .poem-preview {
    color: white;
}
.poem-preview h3 {
    font-size: 34px;
    z-index: 15;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px;
    transition: all .3s ease-out;
}

.poem-preview:not(.completed):hover h3 {
    transform: translateZ(30px);
}

.poem-preview-content p {
    margin: 0px;
    filter: blur(1px);
    transition: filter .3s ease-out;
}

.poem-preview:hover .poem-preview-content p {
    filter: blur(0px);
}

li.poem-preview-line {
    display: block;
    white-space: nowrap;
}

.poem-preview-content {
    position: relative;
    overflow: hidden;
}

.poem-preview-footer {
    position: absolute;
    bottom: 10px;
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
    transition: all .3s ease-out;
}
.poem-preview-votemsg {
    position: absolute;
    top: 80px;
    left: 50%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    transform: translate(-50%);
    width: 90%;
}
.poem-preview-votemsg .small-boxy-btn {
    color: white;
    width: fit-content;
    margin: 10px auto;
}

.poem-preview:not(.completed):hover .poem-preview-footer {
    transform: translateZ(20px);
}

span.poem-preview-creator {
    float: right;
}
