.welcome-con {
    width: 100vw;
    height: 80vh;
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.welcome-con h2 {
    font-size: 43px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}
.welcome-con h2 span {
    display: block;
    font-size: 15px;
    font-weight: 400;
    top: 100%;
    margin-top: 10px;
    display: block;
}

.welcome-con p {
    margin-bottom: 50px;
}
.welcome-login-btn {
    box-shadow: none;
    background: linear-gradient(to right, #b3dbfd 0%, #12D8FA  51%, #87b9e8  100%);
    background-size: 400% 400%;
    border: none;
    padding: 12px 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 23px;
    cursor: pointer;
    animation: BGGradient 30s ease infinite;
    white-space: nowrap;
}

@keyframes BGGradient {
    0%{background-position:0% 36%}
    50%{background-position:100% 65%}
    100%{background-position:0% 36%}
}
@media (max-width: 480px) {
    .welcome-con {
        padding: 0px 10px;
        box-sizing: border-box;
    }
    .welcome-con h2 {
        font-size: 30px;
    }
    .welcome-con p {
        text-align: center;
        color: black;
        opacity: 0.5;
    }
    .welcome-login-btn-con {
        position: fixed;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
    }
    .welcome-login-btn {
        font-size: 20px;
        border-radius: 5px;
    }
}
.btn-grad {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
