.app-wrapper {
    z-index: 20;
}
svg.big-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}


/* Palette https://coolors.co/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff */
body {
    padding: 0;
    margin: 0;
    --pink-lavender: #cdb4dbff;
    --orchid-pink: #ffc8ddff;
    --nadeshiko-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --baby-blue-eyes: #a2d2ffff;

    font-family: 'Montserrat', sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.light-text {
    font-weight: 300;
    font-style: italic;
}
.personal {
    color: #0084ff;
}
.poem-title {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.small-boxy {
    font-family: Montserrat, sans-serif;
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    font-size: 17px;
}
