.app-wrapper {
    z-index: 20;
}

svg.big-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}


/* Palette https://coolors.co/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff */
body {
    padding: 0;
    margin: 0;
    --pink-lavender: #cdb4dbff;
    --orchid-pink: #ffc8ddff;
    --nadeshiko-pink: #ffafccff;
    --uranian-blue: #bde0feff;
    --baby-blue-eyes: #a2d2ffff;

    font-family: 'Montserrat', sans-serif;
}

.darkmode {
    color: white;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.light-text {
    font-weight: 300;
    font-style: italic;
}

.personal {
    color: #0084ff;
}

.darkmode .personal {
    color: #b62fff;
}

.small-boxy {
    font-family: Montserrat, sans-serif;
    font-feature-settings: "smcp", "c2sc";
    font-variant: all-small-caps;
    font-size: 17px;
}

.small-boxy-btn {
    padding: 5px 11px;
    background: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s;
}

/*.small-boxy-btn:hover {*/
/*    color: #ffc7dc;*/
/*    background-color: white;*/
/*}*/
.Toastify__toast {
    font-size: 15px;
}

.Toastify__toast--success {
    background: white !important;
}

.Toastify__toast--success .Toastify__toast-body {
    background: linear-gradient(to left, #ffafcc, #ffc8dd);
    background: -webkit-linear-gradient(to left, #ffafcc, #ffc8dd);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffafcc;
}

.Toastify__toast--success .Toastify__close-button {
    color: #ffc8dd;
}

.Toastify__toast--info {
    background: #7bc2ff !important;
    opacity: 0.8;

}

.Toastify__toast--error {
    background: white !important;
    opacity: 0.8;
}

.Toastify__toast--error .Toastify__close-button {
    color: #b6b6b6;
}

.Toastify__toast--error .Toastify__toast-body {
    color: #d53f3f;
}

@-ms-viewport {
    width: device-width;
}

.frf-modal-feedback-types *, .frf-modal-button * {
    color: black !important;
}

.frf-modal-button {
    background-color: #ffffff !important;
}

.frf-modal-content-container {
    padding: 20px;
}

.frf-modal-feedback-selected {
    background-color: white !important;
}

.small-label-subtext {
    display: block;
    font-size: 14px;
    font-feature-settings: "pcap", "c2pc";
    position: absolute;
    font-variant: all-petite-caps;
    top: 100%;
    left: 10px;
    width: 100%;
    opacity: 0.5;
}

.fake-bg {
    background: linear-gradient(to left, #ffafcc, #ffc8dd);
    background: -webkit-linear-gradient(to left, #ffafcc, #ffc8dd);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    pointer-events: none;
}
@media (max-width: 480px) {
    html, body, .app-con, #root, .app-wrapper {
        height: 100%;
    }

    .Toastify__toast {
        margin: 10px !important;
    }

    .small-label-subtext {
        font-size: 12px;
        left: 5px;
    }

    .app-wrapper {
        display: flex;
        flex-direction: column;
    }
}
