.poem-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.poem {
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 480px;
    font-size: 20px;
    overflow: visible;
    text-align: left;
    position: relative;
    margin: 50px auto;
}

.poem-title {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    white-space: pre-wrap;
    font-weight: bold;
}
.poem-title-creator {
    margin-left: 10px;
}

.poem .react-loading-skeleton {
    border-radius: 0px;
    height: 36px;
    margin: 10px;
    display: block;
    opacity: 0.5;
}

.poem-title-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    display: block;
    margin: 10px;
    max-width: 480px;
    cursor: default;
    position: relative;
}

.line:hover .line-content {
    background: #CDB4DB;
}

.darkmode .line:hover .line-content {
    background: #a5a5a5;
}

.line .info {
    position: absolute;
    right: calc(100% + 10px);
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    opacity: 0.7;
    display: none;
}

.line:hover .info {
    display: block;
}

.line .line-content {
    padding: 3px 7px;
    white-space: pre-wrap;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.line-date {
    opacity: 0.4;
    color: black;
}

.poem-input-field {
    padding: 3px 7px;
    white-space: nowrap;
    cursor: text;
    border: none;
    font-size: 20px;
    font-family: inherit;
    width: 100%;
    min-width: 300px;
    outline: none;

    background: linear-gradient(to left, transparent 50%, #CDB4DB 50%) right;
    background-position: right;
    background-size: 200%;
    transition: all 0.7s ease-out;
}

.poem-input-field:valid, .poem-input-field:focus {
    background-position: left;
}

.poem-input-field.req-pending {
    background-position: left;
    opacity: 0.6;
    background: linear-gradient(90deg, #CDB4DB, #eac4ff, #CDB4DB);
    background-color: #CDB4DB;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    -webkit-animation: animation-16jpnkj 1.2s ease-in-out infinite;
    animation: animation-16jpnkj 1.2s ease-in-out infinite;
}

.poem-input-field.req-success {
    background-position: right;
}

.line.poem-input-field::placeholder {
    font-size: 16px;
    font-weight: lighter;
}

.poem-title.poem-input-field::placeholder {
    font-size: 16px;
    font-weight: lighter;
}

@keyframes animation-16jpnkj {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.darkmode .poem {
    color: white;
}

.add-line-input-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.7s ease, visibility 0.7s 0s;
    visibility: visible;
    margin-bottom: 40px;
}

.add-line-input-con.hidden {
    opacity: 0;
    visibility: hidden;
}
.add-line-input-con label {
    display: inline-block;
    position: relative;
    font-size: 17px;
}
.add-line-input-complete-con {
    display: flex;
    align-items: center;
}
.add-line-input-con input {
    margin-right: 10px;
}

.poem-active-voting {
    text-align: center;
    font-style: italic;
    font-size: 17px;
    margin: 25px 0px;
    box-shadow: 0px 0px 20px -10px white;
    background: #ffffff2e;
    padding: 10px 5px;
    box-sizing: border-box;
}
.poem-active-voting-choice-con {
    margin-top: 5px;
}
.poem-active-voting-input-con {
    display: flex;
    margin-top: 15px;
    justify-content: space-evenly;

}
.poem-active-voting-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.poem-active-voting-input label {
    font-size: 15px;
    font-style: normal;
}

@media (max-width: 480px) {
    .poem {
        width: 100%;
        padding: 0px 10px 10px 10px;
        box-sizing: border-box;
        margin: 0px auto;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .poem-main {
        flex-grow: 1;
        overflow: auto;
    }

    .poem-input-field {
        min-width: 100px;
        width: 90%;
    }

    input.poem-title-input {
        width: 90%;
    }

    .line .info {
        left: 10px;
        filter: none;
        display: block;
        opacity: 0;
        transition: opacity 0.3s;
        background: #CDB4DB;
    }

    .line:hover .info {
        opacity: 1;
    }

    .line .line-content {
        transition: opacity 0.3s;
        background: none;
    }

    .line:hover .line-content {
        opacity: 0;
    }

    .poem-title-con {
        flex-direction: column;
        align-items: flex-start;
    }

    .poem-title {
        margin: 2px;
    }

    .poem-title-creator {
        margin-left: 2px;
        opacity: 0.4;
        font-feature-settings: normal;
        font-variant: normal;
        font-size: 15px;
    }
    .add-line-input-con label {
        font-size: 12px;
    }
    .add-line-input-con input {
        margin-right: 5px;
    }

    .poem-active-voting {
        box-shadow: none;
        border-radius: 5px;
        padding: 10px 15px;
    }
}
